{% extends 'authentication/layout.html' %}

{% block title %}Register{% endblock %}

<!-- Page Content -->
{% block content %}

    <div class="container">
        <div class="mx-auto bg-light p-3" style="width: 400px;">
            <div class="row">
                <h1 class="text-center">Register</h1>
            </div>

            <div class="row mx-0">
                <div class="col-3  text-center">
                    <a class="text-decoration-none text-secondary" href="{% url 'authentication:login-view' %}">
                        <b>Login</b></a>
                </div>
                <div class="col-3 border-bottom border-3 border-primary pb-2 text-center">
                    <a class="text-decoration-none" href="{% url 'authentication:register-view' %}"><b>Register</b></a>
                </div>
            </div>
            <form class="" action="javascript:register()" method="post" enctype="multipart/form-data">
                <div class="input-group my-2">
                    <span class="input-group-text bg-primary" id="basic-addon1">
                        <i class="fas fa-user text-white"></i>
                    </span>
                    <input type="text" class="form-control" name="username" placeholder="Username" id="username"
                        required>
                </div>

                <div class="text-center text-danger my-3" id="msg-username"></div>

                <div class="input-group my-3">
                    <span class="input-group-text bg-primary" id="basic-addon1">
                        <i class="fas fa-lock text-white"></i>
                    </span>
                    <input class="form-control" type="password" name="password" placeholder="Password" id="password"
                        required>
                </div>

                <div class="text-center text-danger my-3" id="msg-password"></div>

                <div class="input-group my-3">
                    <span class="input-group-text bg-primary" id="basic-addon1">
                        <i class="fas fa-lock text-white"></i>
                    </span>
                    <input class="form-control" type="password" name="confirm-password" placeholder="Confirm Password"
                        id="confirm-password" required>
                </div>

                <div class="text-center text-danger my-3" id="msg-confirm-password"></div>
                <input type="submit" class="form-control fw-bold btn btn-primary" value="Register"
                    onclick="register()"></input>
                <div class="text-center text-success my-3" id="msg-success"></div>
                <div class="text-center text-danger my-3" id="msg-password-match"></div>
            </form>

        </div>
    </div>
    {% endblock %}

    {% block javascript_tag %}

<script>

    function clearAllErrorMsg() {
        document.getElementById('msg-username').innerHTML = "";
        document.getElementById('msg-password').innerHTML = "";
        document.getElementById('msg-confirm-password').innerHTML = "";
        document.getElementById('msg-success').innerHTML = "";
        document.getElementById('msg-password-match').innerHTML = "";
    }

    async function register() {

        clearAllErrorMsg();
        let username = document.getElementById('username').value;
        let password = document.getElementById('password').value;
        let confirmPassword = document.getElementById('confirm-password').value;
        if (password != confirmPassword) {
            document.getElementById('msg-password-match').innerHTML = "Password did't match";
            return;
        }
        let formData = new FormData();
        formData.append('username', username);
        formData.append('password', password);
        formData.append('confirm_password', confirmPassword);

        let response = await fetch("{% url 'authentication:register-user' %}", {
            method: 'POST',
            body: formData
        });
        data = await response.json();
        if (response.ok) {
            login({ "username": username, "password": password })

        } else {
            if (data.username) {
                document.getElementById('msg-username').innerHTML = data.username;
            }
            if (data.password) {
                document.getElementById('msg-password').innerHTML = data.password;
            }
            if (data.confirm_password) {
                document.getElementById('msg-confirm-password').innerHTML = data.confirm_password;
            }
        }
    }

</script>
{% endblock %}
