{% extends 'core/layout.html' %}

{% load static %}

{% load filters %}

{% block product_active %}active{% endblock %}

{% block title %}Products{% endblock %}

<!-- Page Content -->
{% block content %}
<div class="page-heading products-heading header-text">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-content">
          <h4>new arrivals</h4>
          <h2>sixteen products</h2>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="products">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="filters">
          <ul>
              <li class="active" data-filter="*">All Products</li>
              <li data-filter=".des">Featured</li>
              <li data-filter=".dev">Flash Deals</li>
              <li data-filter=".gra">Last Minute</li>
          </ul>
        </div>
      </div>
      <!-- Products -->
      <div class="col-md-12">
        <div class="filters-content">
            <div class="row grid">
              {% for product in product_list %}
                <div class="col-lg-4 col-md-4 all">
                  <div class="product-item">
                    <a href="{% url 'core:product-detail-view' pk=product.id %}"><img src="{{ product.image.url }}" height="150" alt=""></a>
                    <div class="down-content">
                      <a href="{% url 'core:product-detail-view' pk=product.id %}"><h4>{{ product.name }}</h4></a>
                      <h6>${{ product.price }}</h6>
                      <p>
                        {{ product.description }}
                      </p>

                      <ul class="stars">

                        {% if product.avg_rating %}

                        {% for i in product.avg_rating|times %}
                        <li><i class="fa fa-star "></i></li>
                        {% endfor %}
                        
                        {% for i in product.no_rating|times %}
                        <li><i class="fa fa-star fa-3x" style="color:gray"></i></li>
                        {% endfor %}
                        
                        {% else %}
                        <li><i class="fa fa-star fa-3x" style="color:gray"></i></li>
                        <li><i class="fa fa-star fa-3x" style="color:gray"></i></li>
                        <li><i class="fa fa-star fa-3x" style="color:gray"></i></li>
                        <li><i class="fa fa-star fa-3x" style="color:gray"></i></li>
                        <li><i class="fa fa-star fa-3x" style="color:gray"></i></li>
                        {% endif %}
                      </ul>
                      <span>Reviews ({{ product.count }})</span>
                    </div>
                  </div>
                </div>
                {% endfor %}
            </div>
        </div>
      </div>
      <!-- End product section -->
      <div class="col-md-12">
        <ul class="pages">
          <li><a href="#">1</a></li>
          <li class="active"><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block product-list %}

<script>

</script>

{% endblock %}
